prettytable>=0.7.2
docopt>=0.6.2
wget>=3.2
Scrapy>=1.1.1
pyquery>=1.2.17
colorama>=0.3.7
future>=0.16
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
twisted>=22.10.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability